node_modules/
dist/
coverage/

# build output
playground/.nuxt/
playground/.output/
storybook-static/
.nuxt/
*.tsbuildinfo
.DS_Store

# editors
.vscode/*
!.vscode/extensions.json
.idea/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
plan.md